.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.finished{
  text-decoration: line-through;
  color: crimson;
}

div#task-list{
  background-color: rgb(181 255 173);
  width: 400px;
  margin: 10px auto auto auto;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: raleway;
  border-radius: 4px;
  transition: 1s;
  border: 4px solid transparent;
}

div#task-list:hover{
  border-color: green;
}

.btn-green{
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.btn-blue{
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.btn-red{
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: crimson;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

button:hover{
  opacity: 0.8;
}
.form-control{
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
}
